
@{
    Layout = null;
}

@using WebApplication1.Models.ViewModels
@model RaporVM
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/FormContents/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/vendor/noui/nouislider.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/FormContents/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/FormContents/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" method="post">
                <span class="contact100-form-title">
                    NAKLİYE RAPOR FORMU
                </span>
                <div class="wrap-input100 input100-select bg1">
                    <span class="label-input100" id="Musteri">Müşteri Seçiniz: *</span>
                    <div>

                        @Html.DropDownListFor(a => a.MusteriID, new SelectList(Model.Musteriler, "MusteriID", "MusteriAdi"))

                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
                <div class="wrap-input100 input100-select bg1">
                    <span class="label-input100" id="Plaka">Plaka Seçiniz *</span>
                    <div>

                        @Html.DropDownListFor(a => a.KamyonID, new SelectList(Model.Kamyonlar, "KamyonID", "KamyonPlakaNo"))

                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="wrap-input100 input100-select bg1">
                    <span class="label-input100" id="Sofor">Şoför Seçiniz *</span>
                    <div>

                        @Html.DropDownListFor(a => a.SoforID, new SelectList(Model.Soforler, "SoforID", "SoforAdiSoyadi"))

                        <div class="dropDownSelect2"></div>
                    </div>
                </div>



                <div class="wrap-input100 validate-input bg1">
                    <span class="label-input100"id="GidilenYer">Gidilen yeri yazınız. *</span>
                    <input class="input100" type="text" name="GidilenYer" placeholder="Gidilen Yeri Giriniz">
                </div>

                <div class="wrap-input100 validate-input bg1">
                    <span class="label-input100" id="Miktar">Miktarı yazınız. *</span>
                    <input class="input100" type="text" name="Miktar" placeholder="Miktar giriniz:">
                </div>
                <div class="wrap-input100 validate-input bg1">
                    <span class="label-input100"id="Tarih" name="Tarih">Tarih Giriniz. *</span>
                    <div>
                       <input type="date" id="Tarih"name="Tarih"/>
                    </div>
                    
                    
                </div>

                

                    <div class="container-contact100-form-btn">
                        <input type="submit" name="Kaydet" value="Kaydet" formaction=@Url.Action("Kaydet") formmethod="post" class="btn btn-primary" />

                    </div>
</form>
            @Html.Raw(TempData["msg"])
    </div>
    </div>


    
    <!--===============================================================================================-->
    <script src="~/FormContents/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/FormContents/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/FormContents/vendor/bootstrap/js/popper.js"></script>
    <script src="~/FormContents/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/FormContents/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });


            $(".js-select2").each(function () {
                $(this).on('select2:close', function (e) {
                    if ($(this).val() == "Please chooses") {
                        $('.js-show-service').slideUp();
                    }
                    else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/FormContents/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/FormContents/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/FormContents/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/FormContents/vendor/noui/nouislider.min.js"></script>
    <script>
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [1500, 3900],
            connect: true,
            range: {
                'min': 1500,
                'max': 7500
            }
        });

        var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
            $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
            $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/FormContents/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    


</body>
</html>
